<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../resources/css/userPanel.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
  
  <script>
    var app = angular.module("myApp", []);

    app.controller("myCtrl", function ($scope, $http) {


      $scope.getData = function () {
        $http.post("http://" + document.domain + "/getPlaces")
          .then(function (response) {
            $scope.names = response.data;
          });
      }
      $scope.getMovies = function () {

        let cb = $("input[name='proj']:checked");
        let p = [];
        $.each(cb, function (key, theValue) {
          p.push($(theValue).val());
        });

        var reqData = {
          method: 'POST',
          url: "http://" + document.domain + "/retrievePlaces",
          data: { dbox: JSON.stringify(p) }
        }
        $http(reqData)
          .then(function (response) {
            $scope.store = response.data;
          });
      }

      $scope.getContacts = function () {
        let p = [];
        var reqData = {
          method: 'POST',
          url: "http://" + document.domain + ":8000/retrieveContacts",
          data: { dbox: JSON.stringify(p) }
        }
        $http(reqData)
          .then(function (response) {
            $scope.contacts = response.data;
          });
      }
  });

  function toggle(source) {
    checkboxes = document.getElementsByName('proj');

    for(var i = 0, n = checkboxes.length; i < n; i++) {
      checkboxes[i].checked = source.checked;
    }
  }
  </script>

</head>
<body class="mt-10 mb-10">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="flexbox navbar-nav">
        <div class="nav-item active">
          <a class="nav-link" href="../index.html">Home<span class="sr-only">(current)</span></a>
        </div>
        <div class="nav-item dropdown">
          <a class="myEmail nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink headerLogout" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= email %>
          </a>
          <div class="dropdown-menu my-2 my-sm-0" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/admin">Admin Panel</a>
            <a href="/users/logout" class="dropdown-item" style="color: red;">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <h1 class="ourLocations"><u>OU</u>R LOCATI<u>ONS</u></h1>
  <div ng-app="myApp" ng-controller="myCtrl">
    <button ng-init="getData()" style="display: none;"></button>
  
   <table class="loc-wrap">
      <tbody class="loc-container">
        <tr class="loc-name" ng-repeat="x in names track by $index">
          <td><input type="checkbox" name="proj" value={{x}}> {{x}}</td>
        </tr>
      </tbody>
    </table> 

    <div id="centerBtn">
      <input type="checkbox" onclick="toggle(this)">  <div style="margin-left: 7px;">Select All</div>
    </div>
    
    <div id="centerBtn">
      <button class="btn btn-outline-success" ng-click="getMovies()">GET LOCATIONS</button><br>
    </div>
    <br>
    <div class="card-deck" style="margin-right: 30px; display: grid; grid-template-columns: repeat(4, 1fr); grid-row-gap: 2rem; margin-bottom: 300px; margin-left: 30px;">
      <div class="card" ng-repeat="x in store">
        <img style=" border-radius: 0px;" class="card-img-top" src="{{x.img}}" alt="Card image cap">
        <div class="card-body">
        <form action="/imInterested" method="POST">
          <input id="email" name="email" value="<%= email %>" style="display: none;"> 
          <input id="location" name="location" readonly="readonly" value="{{x.location}}" style="border-width:0px;
          border:none; font-weight:bold;" class="card-title">
          <input id="price" value="${{x.price}}" readonly="readonly" style="border-width:0px;
          border:none;" name="price" ><br><br>
          <!-- <a ng-click="imInterested()" type="submit" class="btn btn-primary">I'm interested!</a> -->
          <input type="submit" class="btn btn-primary" value="I'm Interested">
        </form>
        </div>
      </div>
    </div>
  </div>
 
 
<footer class="page-footer font-small special-color-dark pt-4"">
    <div class="container">
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1">
                    <i class="fab fa-facebook-f"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1">
                    <i class="fab fa-twitter"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1">
                    <i class="fab fa-google-plus-g"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <i class="fab fa-linkedin-in"> </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-dribbble mx-1">
                    <i class="fab fa-dribbble"> </i>
                </a>
            </li>
        </ul>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" >© 2019 Copyright:
         Gabriel Henrique
    </div>
</footer>

</body>

</html>