<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
  <style>
    h1 {
      background-color: lightcoral;
    }
    img {
      border-radius: 50%;
      height:90px;
      width: 90px;
    }

    td, th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    td {
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: left;
      background-color:white;
      color: black;
    }
  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
  <script>
    var app = angular.module("myApp", []);

    app.controller("myCtrl", function ($scope, $http) {


    $scope.getData = function () {
      $http.post("http://" + document.domain + ":8000/1")
        .then(function (response) {
          $scope.names = response.data;
        });
    }
    $scope.getMovies = function () {

      let cb = $("input[name='proj']:checked");
      let p = [];
      $.each(cb, function (key, theValue) {
        p.push($(theValue).val());
      });

      var reqData = {
        method: 'POST',
        url: "http://" + document.domain + ":8000/2",
        data: { dbox: JSON.stringify(p) }
      }
      $http(reqData)
        .then(function (response) {
          $scope.store = response.data;
        });
    }

      $scope.getContacts = function () {
        let p = [];
        var reqData = {
          method: 'POST',
          url: "http://" + document.domain + ":8000/retrieveContacts",
          data: { dbox: JSON.stringify(p) }
        }
        $http(reqData)
          .then(function (response) {
            $scope.contacts = response.data;
          });
      }
    });

    $("quote").click(function(){
      var location = $("location").val();
      console.log(location);
    });

  </script>
</head>

<h1 class="mt-4">ADMIN Dashboard</h1>
<a href="/users/logout" class="btn btn-secondary">Logout</a><br><br>
  <div ng-app="myApp" ng-controller="myCtrl">
    <button ng-init="getData()" style="display: none;"></button>
    <table>
      <tr ng-repeat="x in names track by $index">
        <td><input type="checkbox" name="proj" value={{x}}> {{x}}</td>
      </tr>
    </table>

    <button ng-click="getMovies()">Get Locations</button><br>
    <br>
    <table id="store">
        <th>Location</th><th>Price</th><th>Image</th><th>Quote</th><th>Object ID</th>
      <tr ng-repeat="x in store">
          
          <td id="location">{{x.location}}</td>
          <td id="price">{{x.price}}</td>
          <td><img src="{{x.img}}" alt=""> </td>
          <td><button id="quote">Get Quote</button></td>
          <td>{{x._id}}</td>
      </tr>
    </table>
    
    
    <h2>Get contacts</h2>
    <br>
    <button ng-click="getContacts()">Inbox</button>
    <table>
      <th>Name</th><th>Email</th><th>Subject</th><th>Message ID</th>
      <tr ng-repeat="z in contacts">
        <td>{{z.name}}</td><br>
        <td>{{z.email}}</td><br>
        <td>{{z.subject}}</td><br>
        <td>{{z._id}}</td>
      </tr>
    </table>
  </div>
<hr>
<br>
<br>
<h2>Purge Message</h2>
<form action="/deleteContact" method="POST">
  <label for="id">Id</label>
  <input type="text" id="id" name="id" placeholder="id">

  <input type="submit" value="Submit">
</form>
<br>
<hr>
<br>
<h2>ADD Locations</h2>
  <form action="addDestination" method="POST">
      <label for="location">Location</label> 
      <input type="text" id="location" name="location" placeholder="Location"><br>
      
      <label for="img">Image</label>
      <input type="text" id="img" name="img" value="/resources/img/"><br>
  
      <label for="price">price</label>
      <input id="price" name="price" placeholder="price"><br><br>
  
      <input type="submit" value="Submit">
  </form>
<hr>
<br>
<br>
<h2>Update Locations</h2>
<form action="/updateDestination" method="POST">
    <label for="id">Id</label>
    <input type="text" id="id" name="id" placeholder="id">

    <label for="location">Location</label>
    <input type="text" id="location" name="location" placeholder="Location">

    <label for="img">Image</label>
    <input type="text" id="img" name="img" placeholder="Image">

    <label for="price">price</label>
    <input id="price" name="price" placeholder="price">

    <input type="submit" value="Submit">
</form>
<hr>

<br>
<h2>Purge Location</h2>
<form action="/deleteDestination" method="POST">
  <label for="id">Id</label>
  <input type="text" id="id" name="id" placeholder="id">

  <input type="submit" value="Submit">
</form>

</body>
</html>