<body style="
background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(../resources/img/login.jpg);
background-size: cover;
background-position: center;
height: 80vh;"
>
<div class="row mt-5">
    <div class="col-md-3 m-auto" >
      <div class="card card-body" style="background-color:whitesmoke; opacity: 0.8;">
        <h1 class="text-center mb-5">Login</h1>
        <% include ./partials/messages %>
        <form action="/users/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter Password"
            />
          </div>
          <button type="submit" style="background-color:limegreen; margin-left: 100px;  width: 150px;"class="btn btn btn-block">Login</button>
        </form>
        <p class="lead mt-4">
          No Account? <a style="color: blue;" href="/users/register">Register</a>
        </p>
        <p class="lead mt-4">
             <a href="../index.html" style="color: blue;">Home page</a>
        </p>
      </div>
    </div>
  </div>
</body>